.navbar {
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(198, 241, 198);
    z-index: 1000;
}

.navbar .logo {
    width: 90px;
    height: 55px;
}

.navSearchIcon .cart {
    height: 50px;
    margin-right: 50px;
}

.navMenu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    cursor: pointer;
}

.navMenu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgb(198, 241, 198);
    padding: 10px;
    z-index: 999;
}

.rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}


.navSearchIcon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar button {
    position: relative;
    overflow: hidden;
    background: transparent;
    font-size: 16px;
    color: green;
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.6s;
}

.navbar button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: green;
    transition: height 0.6s;
    z-index: -1;
}

.navbar button:hover::before {
    height: 100%;
}

.navbar button:hover {
    color: white;
}

@keyframes fillAnimation {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid green;
}

.navSearchIcon {
    position: relative;
}

.navSearchIcon .dot {
    position: absolute;
    background-color: rgb(6, 85, 6);
    border-radius: 50px;
    top: 2px;
    right: 165px;
    min-height: 10px;
    min-width: 10px;
}

.menuToggle {
    display: none;
    cursor: pointer;
}

.menuToggle .toggleIcon {
    font-size: 30px;
}

@media (max-width: 750px) {
    .navMenu {
        display: none;
    }

    .menuToggle {
        display: block;
    }
}

.navbar-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgb(116, 208, 125);
    outline: 2px solid white;
    list-style: none;
}


:root .navbar-profile:hover .nav-profile-dropdown{
    color: rgb(34, 120, 17);
    background-color: var(--body-color);
    border: 1px solid rgb(52, 100, 13);
    outline: 2px solid white;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover{
    color: rgb(71, 111, 255);
}

/* .notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: slideInDown 0.5s ease-in-out;
} */

.notification {
    position: fixed;
    top: 20px;
    right: 20px; /* Adjust as needed */
    background-color: #4caf50; /* Green color for success */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: slideInRight 0.5s forwards, slideOutLeft 0.5s forwards 2s;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.success {
    background-color: #4caf50;
    color: white;
}

.error {
    background-color: #f44336;
    color: white;
}

/* @keyframes slideInDown {
    0% {
        transform: translate(-50%, -100%);
    }
    100% {
        transform: translate(-50%, 0);
    }
} */


@media (max-width: 350px) {
    .navMenu {
        display: none;
        /* CENTRE TOGGLEDNAV ITEMS */
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .navbar .logo{
        display: none;
    }

    .menuToggle {
        display: block;
    }
}
























/* .navbar{
    padding: 1px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(198, 241, 198); 
    z-index: 1000; 
}

.navbar .logo{
    width: 90px;
    height: 55px;
}

.navSearchIcon .cart{
    height: 50px;
    margin-right: 50px;
}

.navMenu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    cursor: pointer;
}

.rightNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.navSearchIcon {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  

  .navbar button {
    position: relative;
    overflow: hidden;
    background: transparent;
    font-size: 16px;
    color: green;
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.6s;
}

.navbar button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: green; 
    transition: height 0.6s;
    z-index: -1;
}

.navbar button:hover::before {
    height: 100%;
}

.navbar button:hover {
    color: white;
}




@keyframes fillAnimation {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}


 .navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid green;
 }

 .navSearchIcon{
    position: relative;
 }

 .navSearchIcon .dot{
    position: absolute;
    background-color: rgb(6, 85, 6);
    border-radius: 50px;
    top: 2px;
    right: 165px;
    min-height: 10px;
    min-width: 10px;
 }




 @media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navSearchIcon .dot{
        top: 3px;
        right: 158px;
        min-height: 8px;
        min-width: 8px;
     }
    .navMenu{
        gap: 20px;
        font-size: 17px;
    }
    .rightNav{
        gap: 30px;
    }
    .rightNav img{
        width: 22px;
    }.rightNav button{
        padding: 8px 25px;
    }
 }

 @media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navSearchIcon .dot{
        top: 8px;
        right: 128px;
        min-height: 8px;
        min-width: 8px;
     }
    .navMenu{
        gap: 15px;
        font-size: 16px;
    }
    .rightNav{
        gap: 20px;
    }
    .rightNav img{
        width: 20px;
    }
    .rightNav button{
        padding: 7px 20px;
        font-size: 15px;
    }
 }

 @media (max-width:750px) {
    .navMenu{
        display: none;
    } 
    .navSearchIcon .dot{
        top: 4px;
        right: 145px;
        min-height: 6px;
        min-width: 6px;
        background-color: rgb(22, 226, 56);
     }
 }

 
 @media (max-width:450px) {
    .navbar{
        align-items: center;
        justify-content: center;
    }
    .navMenu{
        display: none;
    } 
    .navSearchIcon .dot{
        top: 8px;
        right: 127px;
        min-height: 6px;
        min-width: 6px;
        background-color: rgb(22, 226, 56);
     }
     .navbar .logo{
        display: none;
     }
     .rightNav img.cart{
        width: 30px;
     }
 } */


