.footer{
    color: rgb(9, 112, 14);
    background-color: rgb(160, 202, 162);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 5vw;
    padding-top: 5px;
    margin-top: 50px;
}

.footerContent{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-area: 20px;
}

.footerContentLeft .logo{
    height: 50%;
    width: 30%;
}

.footerContentLeft, .footerContentRight, .footerContentCentre{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerContentLeft li, .footContentRight li, .footerContentCentre li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footContentRight h2, .footerContentCentre h2{
    color: rgb(4, 114, 13);
}

.footerSocialIcons img{
    width: 40px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: rgb(8, 161, 85);
    border: none;
}

/* .footerCopyRight{
    color: rgb(20, 78, 20);
} */

@media (max-width:750px) {
    .footerContent{
        display: flex;
        flex-direction: column;
        gap: 35px;
        text-align: center;
    }
    .footerCopyRight{
        text-align: center;
    }
    .footerContent .logo{
        display: none;
    }
}